section#main
	include 0.header.pug
	.container
		h1.main-title= head_title
		p.main-info Начало курса: 
			span 21 октября
		p.main-info Авторы курса: 
			span Жанна Абрамова и Николай Николаев
		+b('button-main','#prices','_self','Записаться')
		h3.main-date 21
			span октября
		h3.main-authors жанна абрамова
			span Николай николаев