section#for
	.container
		+gt('general-title-light','Этот курс необходим тем, кто:')
		.row
			.col-md-8.col-sm-4.col-md-offset-4.col-sm-ofset-4
				.for-container
					ul.for-container-list
						li Хотел бы проводить готовые программы по МАК, без нужды составлять свою программу путем проб и ошибок. Программа протестирована, успешно проводилась и принесла огромные результаты у клиентов
					ul.for-container-list
						li Хотел бы начать свою практику в области метафорических карт (МАК терапия), системных расстановок, системы метафизики, в области тренерства, коучинга, консультирования, частной практики и работы с широкой аудиторией
						li Никак не выйдет на новый уровень тренерства /терапии
						li Хотел бы научиться профессиональному ведению клиентов
						li Хотел бы научиться составлять свои курсы, программы, психологические игры
						li Хотел бы получить новую профессию тренер/ коуч/терапевтпо психологической работе с людьми
						li Является профессионалом, но не знает с чего начать своё продвижение
						li Готов получить в пользование опыт многолетних эффективных наработок в области терапии и тренерства
		+b('','#prices','_self','мне это необходимо')