mixin module(cl,h5,p)
	.module(class=cl)
		h5.module-title=h5
		p.module-text=p

section#coach-plan
	.container
		+gt('','план курса - тренерская часть')
		h4.general-subtitle
			span Тренерская часть 
			| курса идет 3 месяца, состоит из 12 модулей
			br
			| (каждый модуль состоит из вебинара и практических заданий и практик)
		.module.module-1
			h5.module-title Модуль 1
			p.module-text Основы терапии:
			ol.module-list
				li Инфо-продукт – коучинг, консультации, терапевтические программы, психологические игры, тренинги
				li Целевая аудитория – индивидум, группы, организации, фоловеры
				li Задача – продать свой инфо-продукт
			p.module-text Учимся выявлять свою целевую аудиторию, обозначать критерии поиска клиентов. Выбираем нишу, с которой начнётся практическая деятельность. Делимся на группы, относительно выбора своей ниши
		+module('module-2', 'Модуль 2', 'Типажность клиентов. Изучаем типажи целевой аудитории. Буллиты, триггеры, больки целевой аудитории. Как попасть в типажный «голод» клиентов, чтобы закрыть «сделку». Учимся в группе заинтересовывать друг друга через типажную подстройку')
		+module('module-3', 'Модуль 3', 'Комплиментарные и перекрёстные транзакции. «Игры», в которые играют клиенты. Техника деконтаминации – выводим клиента из игры, чтобы начать проработку сценариев и шаблонов клиента. Учимся деконтаминировать друг друга в парах')
		+module('module-4', 'Модуль 4', 'Коучинг. Техники Гештальт терапии. Учимся проводить коучинговую сессию. Расписываем коуч-программу на месяц')
		+module('module-5', 'Модуль 5', 'Написание программы для проведения тренингов. Из чего должна состоять программа? Расписываем программу тренинга по трём модулям: базовый, продвинутый, вип. Делаем групповой опрос по целям нашей целевой аудитории и, опираясь на цели , составляем буллиты/триггеры для вовлечения клиентов')
		+module('module-6', 'Модуль 6', 'Самопозиционирование. Тренер как бренд. Учимся раскручивать своё «Имя» через свои уникальные качества. Учимся усиливать свои сильные стороны, а не ограничиваться слабыми сторонами своей личности')
		+module('module-7', 'Модуль 7', 'Терапевтическая сессия от А до Я. Через что необходимо проводить клиента, чтобы он к нам возвращался снова и снова. Учимся проводить профессиональную сессию-терапию. Система «Терапевт с нуля до уровня «профессионал»')
		+module('module-8', 'Модуль 8', 'МАК терапия. Учимся составлять свои собственные ТЕХНИКИ на метафорических картах по любому запросу. В группе тренируемся составлять МАК сессии по запросу участников курса. Создаём свою собственную уникальную МАК Технику')
		+module('module-9', 'Модуль 9', 'Управление «массами». Учимся работать с группой. Техники НЛП по работе с широкой аудиторией. Минусы и плюсы в работе с группой. Как управлять энергией «толпы». Вовлечение масс в свою идеологию. Устанавливаем своё идеологическое направление, через которое запускаем воронку вовлечения')
		+module('module-10', 'Модуль 10', 'Продажа себя как тренера/терапевта. Промоушн на себя. Учимся «продавать» себя. Составляем кейсы «успешного продавца». Работаем со страхами продажи себя и своих услуг. Техники и практики по выходу на новый уровень позиционирования')
		+module('module-11', 'Модуль 11', 'Психологические игры. Учимся составлять свою психологическую игру для работы с аудиторией. Учимся вовлекать аудиторию через квесты, марафоны, интерактивные кейсы. Запускаем свой марафон по выбранной вами тематике')
		+module('module-12', 'Модуль 12', 'Урок по запросу. Тема, которая станет наиболее актуальной на финал прохождения тренерского курса. Тему выбирает Группа и по ней проходит обучение')