mixin lesson(h5,p)
	.lesson
		h4.lesson-title=h5
		p.lesson-text=p
section#business-plan
	.container
		+gt('general-title-light','план курса - бизнес часть')
		h4.general-subtitle
			span Бизнес-часть 
			| курса идет 3 месяца, состоит из 12 уроков и практики, и 15 вебинаров с живой обратной связью. 70% курса - практика, необходимая для формирования нужных навыков
		.row
			.col-md-4.col-sm-6
				+lesson('Занятие 1','Яркая упаковка эксперта - как оформить свою экспертность так, чтобы люди выстраивались в очередь. Имидж эксперта. Личная профессиональная автобиография. Продающие кейсы и отзывы')
			.col-md-4.col-sm-6
				+lesson('Занятие 2','Оформление консультаций и пакетов услуг. Микропозиционирование. Каким должен быть экспертный ассортимент? Как ставить цены на услуги? Как оформить предложение так, чтобы его захотели?')
			.col-md-4.col-sm-6
				+lesson('Занятие 3','Структура продающей консультации на миллион. Как провести диагностическую сессию с клиентом так, чтобы купили 9 из 10? Секретная техника “продажи без продаж”. Продающие статьи по структуре AIDA')
			.col-md-4.col-sm-6
				+lesson('Занятие 4','Быстрый старт продаж - учимся продавать свои услуги, даже если у вас до этого не было ни одного клиента. Правильная работа с базой клиентов. Скрипты общения по телефону. Зарабатываем деньги уже в первый месяц')
			.col-md-4.col-sm-6
				+lesson('Занятие 5','Продажа пакетов услуг и серий консультаций. Как продать не одну консультацию, а много? Как максимально помочь клиенту? Как сделать так, чтобы клиент к нам приходил снова и снова? Формируем индивидуальные пакеты и серии по болям или по запросу')
			.col-md-4.col-sm-6
				+lesson('Занятие 6','Продажа трансформаций и работа с ВИП-клиентами. Долгосрочная эффективная работа с клиентом. Как работать с клиентом 3,6,12 месяцев? Как продавать трансформационные продукты? Где искать ВИП-клиентов и как продавать им очень дорогие пакеты и услуги?')
			.col-md-4.col-sm-6
				+lesson('Занятие 7','Подготовка продаж группового тренинга. Что нужно сделать, чтобы собрать свою первую платную группу тренинга? Главная схема продаж групповых продуктов. Гибридные МК под разные результаты и ЦА. Создаем продающие презентации. Поиск партнеров')
			.col-md-4.col-sm-6
				+lesson('Занятие 8','Маркетинг и анонсы группового тренинга. Работа с партнерками. Где взять людей на МК и на тренинг? Написание правильных анонсов и рекламных сообщений. Где размещать? Работа с партнерами')
			.col-md-4.col-sm-6
				+lesson('Занятие 9','Проводим продающие мероприятия и продаем тренинг. Как провести мероприятие и продать курс? Структура проведения мероприятия. Методы продаж на мероприятиях. Работа с аудиторий после мероприятий. Чек-лист проведения мероприятия, чтобы ничего не забыть')
			.col-md-4.col-sm-6
				+lesson('Занятие 10','Максимизация прибыли и допродажи. Как увеличить прибыль до максимума? Что вам нужно знать о до-продажах и кросс-продажах')
			.col-md-4.col-sm-6
				+lesson('Занятие 11','Запуск первого платного тренинга. Первое занятие - Организационные моменты. Техническая часть. Как все сделать хорошо и ничего не забыть? Работа с группой. Минимизация конфликтов и возвратов в групповых программах')
			.col-md-4.col-sm-6
				+lesson('Занятие 12','Финал, итоги, юридические вопросы, выпускной. Подводим итоги, считаем прибыль. Изучаем лицензионную и юридическую часть для дальнейшей работы. Готовимся к итоговой аттестации курса. Выпускной')
		+b('','#prices','_self','я иду на курс')