section#learn
	.container
		+gt('','чему вы научитесь на курсе')
		.learn
			.learn-contianer
				h4.learn-contianer-title В рамках тренерской части курса
				p.learn-contianer-text Обучитесь авторской программе “МАК – путь к неизведанному”. Получите авторскую базовую программу, которую сможете уже после окончания курса презентовать и проводить со своими клиентами и группами
			h5.learn-subtitle А так же вы:
			ul.learn-list
				li Научитесь быстро и эффективно выявлять проблемы клиента и находить максимально эффективные пути решения
				li Научитесь составлять программы тренинга
				li Научитесь проводить коучинговую месячную терапию
				li Познакомитесь с типажностью клиентов, для эффективной продажи своих услуг и проведения индивидуальных сессий (Сессии подбираются под определенный типаж клиентов)
				li Познакомитесь с транзактным анализом. Ввод в психотерапию
				li Узнаете, какие проводить Гештальт практики, для корректировки идентификации личности
				li Научитесь различать травмы текущей жизни человека от травм рода и прошлых воплощений. Делим сессии на трехступенчатую модель
				li Проработка травм текущей жизни. Исцеление травм рода. Погружение в регресс для исцеления травм прошлых воплощений
				li Узнаете, как простраивать цепочку судьбы личности, для выявления причинно-следственных связей проблематики клиентов
				li Узнаете мои личные наработки, которые получены только путем опыта и осознаний. Этого не прочесть нигде
				li Узнаете, как работает профессионал, чтобы к нему возвращались клиенты и передавали ваши услуги по «сарафанному радио»
		+gt('general-title-learn','чему вы научитесь на курсе')
		.learn
			.learn-contianer
				h4.learn-contianer-title В рамках бизнес части курса
				p.learn-contianer-text Обучитесь уникальной авторской 3х-шаговой системе, позволяющая даже новичкам зарабатывать на своих услугах и тренингах от 50-150 тысяч рублей в месяц и выше, которую прошли уже более 200 экспертов в разных нишах - от психологии до эзотерики. Самые лучшие выпускники смогли увеличить свой доход до 1,5 миллионов рублей в месяц и растут еще выше! Система позволяет начать зарабатывать почти сразу, и окупает свою стоимость прямо во время обучения
			h5.learn-subtitle А так же вы:
			ul.learn-list
				li Сделаете себе яркую продающую “упаковку” эксперта
				li Узнаете, какие триггеры больше всего влияют на привлечение аудитории и научитесь ими пользоваться
				li Узнаете, как пишется профессиональная автобиография и личная продающая история, и как с помощью них увеличить продажи на 300%
				li Научитесь легко собирать и оформлять продающие отзывы, которым доверяет ваша аудитория
				li Составите себе идеальный ассортимент услуг на 1.000.000
				li Научитесь, как нужно правильно продавать консультации, коучинги, и трансформации клиентов
				li Освоите секретную технику “продажи без продажи”, которая работает с эффективностью до 96%
				li Научитесь работать с ВИП-клиентами - где их находить, и как им продавать свои услуги ОЧЕНЬ дорого
				li Освоите работу с социальными сетями, написание постов и статей по маркетинговым структурам ODC и AIDA
				li Научитесь создавать очередь из клиентов, даже если вы до этого не продали ни одной услуги
				li Освоите навыки проведения групповых мастер-классов и мероприятий, и как легко выступать и продавать
				li Наберете свою первую платную группу прямо на курсе под руководством опытного тренера, и окупите стоимость программы с прибылью
		+b('','#prices','_self','я иду на курс')