-var cost_1 = '350 000руб.';
-var cost_2 = '1 000 900руб.';
-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3984&clean=true&lg=ru';
-var link_2 = '#prices';

section#prices
	.container
		+gt('general-title-light','выбрать свой пакет участия')
		.packets
			.row
				.col-md-6.col-sm-6
					.packet.packet-1
						.packet-head
							h4.packet-head-title пакет "стандарт"
						.packet-body
							ul.packet-body-list
								li тренерская часть - 12 модулей
								li бизнес-часть - 12 занятий и 15 онлайн-вебинаров
								li обратная связь
								li практическая отработка навыков
						.packet-footer
							h4.cost=cost_1
							+b('button-cost',link_1,'_blank','Выбрать')
				.col-md-6.col-sm-6
					.packet.packet-2
						.packet-head
							h4.packet-head-title пакет "вип"
						.packet-body
							ul.packet-body-list
								li тренерская часть - 12 модулей
								li бизнес-часть - 12 занятий и 15 онлайн-вебинаров
								li обратная связь
								li практическая отработка навыков
								li 5 видеосъемок на любом канале ТВ
								li бонусы
								li конкурс среди лучших студентов
								li тренерство в МasterVision
						.packet-footer
							h4.cost=cost_2
							+b('button-cost',link_2,'_blank','Выбрать')