section#coaches
	.container
		+gt('','О тренерах')
		.coach.coach-1
			img(src="img/images/janna.png", alt="Жанна Абрамова")#coach-1
			h4.coach-name Жанна Абрамова
			ul.coach-list.coach-list-1
				li - Мастер практической психологии, факультет клинической психологии Академии при президенте РФ (РАНХиГС).
				li - Специалист по метафорическим картам (МАК, Израиль)
				li - Системный расстановщик (Германия)
				li - Процессор Техники РПТ (Саймон Роуз), Тетахилинга
				li - Гипнотерапевт (Московский институт гипноза)
				li - Коуч, женский тренер, автор трансформационных программ: 
				ul.coach-sublist
					li МАК «Ключ к неизведанному»
					li «Восстановление справедливости»
					li «Отправная точка заболеваний»
					li «За гранью разума»
					li «Сам себе доктор»
					li «Метафизика — Ключ к исцелению Души и тела»
					li «Управление реальностью»
					li «Мышление будущего»
					li трансформационный женский тренинг «Анатомия Отношений», «От перца к сердцу»
					li «Как получать подарки»
					li «Замуж за 2 недели»
					li «Деньги в голове»
					li «Дуэль с ленью»
					li «Возврат ваших вложений»
					li «Третий лишний или как устранить соперницу»
		.coach.coach-2
			img(src="img/images/nickolay.png", alt="Николай Николаев")#coach-2
			h4.coach-name Николай Николаев
			ul.coach-list.coach-list-2
				li - Основатель Федеральной Сети Фотошкол “РАСТИ!” (15 франчайзинговых школ) , и 3-х других проектов.
				li - Эксперт-практик в сфере коммерческого образования - учебных центров, школ и студий. Создание "с нуля", продвижение, упаковка учебных проектов. Дальнейшее создание и продажа франшиз. 
				li - Ведение тренингов и коучингов.
				li - за 7 месяцев 2016-17 прокачал и вывел на стабильную чистую прибыль 300.000-700.000 рублей в месяц более 20 клиентских проектов на всей территории РФ, от Калининграда до Новосибирска. (увеличиваем оборот в 3-4 раза, достигаем безусловного лидерства в вашем рынке в регионе).
				li - за 6 месяцев 2016-17 упаковал и вывел на рынок 5 новых франчайзинговых сетей и запустили продажи по СНГ и РФ запущены 2 проекта на вывод бизнеса в Европу и Азию (Дубай)