section#revs
	.container
		+gt('general-title-light','Отзывы')
		.owl-carousel.owl-theme#video-revs
			each v, n in {1:'gr0K_5PgybU',2:'2JWVZrZQc8k',3:'R9APgWOZzok',4:'VxUFd9e68xk',5:'A9t-JUQfKeU'}
				.video-wrapper.video-wrapper-revs(data-youtube=v data-img="img/revs/video_"+n+".png")
					img.video-rev-img(src="img/revs/video_"+n+".png", alt="Видео отзыв " + n)
		+b('button-revs','#prices','_self','хочу также')