#main
	background-color: #FAEBE1
	background-image url(../img/backgrounds/main_bg.png)
	background-repeat no-repeat
	background-position: top center
	background-size: cover
	text-align: center
	padding 0 0 200px
	.container
		position relative
.main-title
	font-size: 60px;
	font-family: MuB
	color: #110d4a
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	width 100%
	// max-width 790px
	margin 70px auto 30px
	text-shadow:  0 0 18px #fff, 0 0 14px #fff,0 0 10px #fff,0 0 5px #fff
	&:after
		content:  ''
		display block
		margin 30px auto 50px
		width 100%
		max-width 771px
		height 4px
		background-color: #FF326C
.main-info
	&:last-of-type
		margin: 10px 0 50px
	span
		display: inline-block
		font-family: MuB
.main-date
	position: absolute
	bottom: 20px
	right 0
	font-size: 89px
	font-family: AB
	color #fff
	opacity .6
	text-align: left 
	line-height: 89px
	text-transform: uppercase
	span
		font-size: 120px
		display block
.main-authors
	position: absolute
	font-family: AB
	color #000
	opacity .4
	font-size: 63px
	text-transform: uppercase
	text-align: left
	line-height: 63px
	bottom: -150px
	left 0
	span
		display block
		margin-left: 70px