#business-plan
	padding 50px 0
	background-color: #C0C6CF
	background-image url(../img/backgrounds/plan_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.lesson
	width 100%
	max-width 370px
	border-radius: 35px;
	box-shadow: 0px 4px 37.2px 2.8px rgba(40, 42, 82, 0.56);
	background-color: rgba(#fff,.9)
	padding 30px 35px
	margin 0 auto 30px
	min-height 400px
	&-title
		font-size: 54px;
		color: rgba(0, 0, 0, 0.302);
		margin-bottom: 20px