#coach-plan
	padding  50px 0
.module
	border 3px solidrgb(26, 78, 132);
	background-color: rgba(#fff,.69)
	box-shadow: 0px 4px 37.2px 2.8px rgba(40, 42, 82, 0.56);
	width 100%
	max-width: 1064px;
	float left
	padding 50px 50px 50px 170px
	border-radius: 35px
	margin-bottom: 20px
	background-repeat no-repeat
	background-position: left 25px center
	position relative
	&:nth-of-type(2n)
		float right
		padding 50px 170px 50px 50px
		background-position: right 25px center
	&-1
		background-image url(../img/images/module_1.png)
		z-index 1
	&-2
		background-image url(../img/images/module_2.png)
		z-index 2
	&-3
		background-image url(../img/images/module_3.png)
		z-index 3
	&-4
		background-image url(../img/images/module_4.png)
		z-index 4
	&-5
		background-image url(../img/images/module_5.png)
		z-index 5
	&-6
		background-image url(../img/images/module_6.png)
		z-index 6
	&-7
		background-image url(../img/images/module_7.png)
		z-index 7
	&-8
		background-image url(../img/images/module_8.png)
		z-index 8
	&-9
		background-image url(../img/images/module_9.png)
		z-index 9
	&-10
		background-image url(../img/images/module_10.png)
		z-index 10
	&-11
		background-image url(../img/images/module_11.png)
		z-index 11
	&-12
		background-image url(../img/images/module_12.png)
		z-index 12
	&-title
		font-size: 18px
	&-list
		li
			list-style-position: inside
			margin-bottom: 15px