#prices
	padding 50px 0
	background-color: #47555A
	background-image url(../img/backgrounds/prices_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.packets
	width 100%
	max-width 770px
	margin 0 auto
.packet
	max-width 430px
	margin 0 auto
	background-color: rgba(#fff,.9)
	border-radius: 35px
	padding 200px 45px 20px
	background-repeat no-repeat
	background-position: center top 30px
	&-1
		background-image url(../img/images/packet_img_1.png)
	&-2
		background-image url(../img/images/packet_img_2.png)
	&-head-title
		text-transform: uppercase
		text-align: center
		font-size: 20px
		color: #110d4a
		margin-bottom: 30px
	&-body
		min-height 450px
		&-list
			li
				list-style: none
				padding-left 40px
				margin-bottom: 10px
				background-image url(../img/icons/check.png)
				background-repeat no-repeat
				background-position: left top
				background-size 28px
				min-height 32px
.cost
	text-align: center
	margin 0 0 15px
	font-size: 20px
	font-family: Mu
	span
		display block
		font-family: MuB
		font-size: 30px
	&-full
		margin-top: 25px
		span
			text-decoration: line-through
	&-sale
		color #ed1c24
	&-today
		color green
		margin-bottom: 30px
.prepayment
.timer
	margin 20px auto
	background-color: rgba(#fff,.9)
	border-radius: 35px
	padding 30px
	width 100%
	&-title
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		color: #110d4a;
		margin-bottom: 20px;
		span
			color #ed1c24
			display block
			font-size: 30px
.timer-title
	font-size: 32px
	text-align: center
	color #ed1c24
	margin: 0
.flip-clock-wrapper
	width: 100%
	max-width 460px
	margin-top: 20px
.flip-clock-divider .flip-clock-label
	color #000
.flip-clock-dot
	background-color: #C24E88
.flip-clock-wrapper ul li a div div.inn
	color: #fff
	background-color: #C24E88
	text-shadow: 2px 2px 2px rgba(#022a37,.6);